<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Pokedex number:</strong>
    <%= pokemon.pokedex_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= pokemon.image_url %>
  </p>

</div>
